* {
    --sidebar-width: 200px;
    --sidebar-text-color: #fff;
    --sidebar-bg-color: #0f1923;
    --sidebar-hover-bg-color: #333;
    --sidebar-active-bg-color: #ff4654;
    --sidebar-active-text-color: #0f1923;
    --sidebar-link-text-color: #ff4654;
    --sidebar-footer-text-color: #929292;
    
    --global-bg-color: #fff;
    --global-text-color: #0f1923;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--global-bg-color);
    color: var(--global-text-color);
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: var(--sidebar-width);
    background-color: var(--sidebar-bg-color);
    color: var(--sidebar-text-color);
    padding: 20px;
    position: fixed;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 100;
}

.logo {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.logo img {
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

.nav {
    list-style: none;
    padding: 0;
}

.nav li {
    margin-bottom: 10px;
}

.nav a {
    color: var(--sidebar-text-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav a:hover {
    background-color: var(--sidebar-hover-bg-color);
}

.nav a.active {
    background-color: var(--sidebar-active-bg-color);
    color: var(--sidebar-active-text-color);
    font-weight: bold;
    transition: background-color 0.7s ease;
}

.nav a i {
    margin-right: 10px;
}

.footer {
    margin-top: auto;
    margin-bottom: 30px;
    text-align: center;
    font-size: 0.68em;
    color: var(--sidebar-footer-text-color);
    max-width: var(--sidebar-width);
    line-height: 0.2em;
}

.footer hr {
    border: 0;
    height: 1px;
    background-color: var(--sidebar-footer-text-color);
    margin: 10px 0;
}

.footer a {
    color: var(--sidebar-link-text-color);
    text-decoration: none;
}

.main {
    flex: 1;
    padding: 20px;
    margin-left: 250px;
    background-color: var(--global-bg-color);
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.tab-content h2 {
    margin-top: 0;
}

.tab-content h2 i{
    margin-right: 10px;
}

canvas {
    width: 100% !important;
    height: auto !important;
}

table.dataTable thead th {
    padding: 10px;
}

table.dataTable tbody td {
    padding: 10px;
}
