body {
    font-family: Arial, sans-serif;
    background-color: #bbe2bd;
    color: #1b5e20;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1b5e20;
    color: f2f4d1;
    padding: 20px;
    text-align: center;
    border-radius: 0 0 20px 20px;
}

h1 {
    margin: 0;
    color: #bbe2bd
}

main {
    padding: 20px;
}

section {
    background-color: #f2f4d1;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #1b5e20;
}

ul {
    padding-left: 20px;
}

ul ul {
    padding-left: 20px;
}
